<div class="footer">
  <section class="footer__container container">
    <nav class="nav nav--footer"></nav>
    <ul class="nav__link nav__link--footer">
      <li class="nav_items">
        <a [routerLink]="['']" class="nav__links">Nosotros</a>
      </li>
      <li class="nav_items">
        <a [routerLink]="['servicios']" class="nav__links">Servicios</a>
      </li>
      <li class="nav_items">
        <a [routerLink]="['clientes']" class="nav__links">Clientes</a>
      </li>
      <li class="nav_items">
        <a [routerLink]="['conferencias']" class="nav__links">Conferencias</a>
      </li>
      <li class="nav_items">
        <a [routerLink]="['contacto']" class="nav__links">Contacto</a>
      </li>
    </ul>

    <div class="footer_contact nav__link--footer">
      <div>
        <img src="../../assets/Email.png" alt="" class="footer_img_contact" />
      </div>
      <div class="info">
        <h2>Contactos:</h2>
        <h3>cristinavigoya@marcatactica.com</h3>
        <h3>mauriciolombana@marcatactica.com</h3>
      </div>
    </div>

    <div class="footer_contact nav__link--footer ubicacion">
      <div>
        <img
          src="../../assets/localizacion.png"
          alt=""
          class="footer_img_contact"
        />
      </div>
      <div class="info">
        <h2>Encuentranos en:</h2>
        <h3>Calle 64 Norte No. 5BN -146</h3>
        <h3>Torre A Centro Empresa</h3>
        <h3>Cali - Colombia</h3>
      </div>
    </div>
  </section>
  <section class="footer__copy container">
    <div class="footer__social">
      <a
        href="https://www.facebook.com/MarcaTactica"
        target="_blank"
        class="footer__icons"
      >
        <img src="../../assets/Facebook.svg" alt="" class="footer__img" />
      </a>
      <a
        href="https://www.instagram.com/marcatactica/"
        target="_blank"
        class="footer__icons"
      >
        <img src="../../assets/instagram.svg" alt="" class="footer__img" />
      </a>
      <a
        href="https://twitter.com/MARCATACTICA"
        target="_blank"
        class="footer__icons"
      >
        <img src="../../assets/twitter.png" alt="" class="footer__img" />
      </a>
    </div>
  </section>
</div>
