<div class="section">
  <div class="formulario">
    <div class="sub">
      <h4 class="subtitleContacto">
        ¿Desea recibir más información respecto a nuestros servicios?
      </h4>
      <p>Dejanos tus datos y nos pondremos en contacto a la brevedad.</p>
    </div>

    <form action="https://formspree.io/f/xnqyjwro" method="POST">
      <div class="campos">
        <h3>Nombre:</h3>
        <input type="text" name="Nombre" />
      </div>
      <div class="campos">
        <h3>Telefono:</h3>
        <input type="number" name="Numero Telefono" />
      </div>
      <div class="campos">
        <h3>Email:</h3>
        <input type="email" name="email" />
      </div>
      <div class="campos">
        <h3>Ciudad:</h3>
        <input type="text" name="Ciudad"  />
      </div>
      <div class="campos">
        <h3>Ciudad:</h3>
        <textarea cols="30" rows="10" name="message"></textarea>
      </div>
      <div class="btn">
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>
  <div class="formulario">
    <div class="tituloMap">
      <h1 class="subtitle">Ubicación</h1>
    </div>

    <div class="GM">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.4121337580696!2d-76.52388634918238!3d3.4916089519119216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a93e7fe04d57%3A0x23907d04bd9feea9!2sMarca%20Tactica!5e0!3m2!1ses!2sco!4v1674858134607!5m2!1ses!2sco"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

