<header class="hero">
    <nav Class="nav container">
      <a [routerLink]="['']" class="logo">
        <img src="../../assets/marcatactica.png" alt="" class="logo">
      </a>
      <ul class="nav__link nav__link--menu">
        <li class="nav_items">
          <a [routerLink]="['']" class="nav__links">Nosotros</a>
        </li>
        <li class="nav_items" >
          <a [routerLink]="['servicios']" class="nav__links">Servicios</a>
        </li>
        <li class="nav_items" >
          <a [routerLink]="['clientes']"class="nav__links">Clientes</a>
        </li>
        <li class="nav_items" >
          <a [routerLink]="['conferencias']" class="nav__links">Conferencias</a>
        </li>
        <li class="nav_items" >
          <a [routerLink]="['contacto']" class="nav__links">Contacto</a>
        </li>
          <img src="../../assets/Close.svg" alt="" class="nav__close" (click)="CerrarMenu()">
         
      </ul>
  
      <div  class="nav__menu" (click)="AbrirMenu()"  >
        <img src="../../assets/menu.svg" alt="" class="nav__img">
      </div>
    </nav>
  </header>
  