<div class="testimonios nav__link--footer container">
    <section class="titulo">
      <h1>Testimonios</h1></section>
  
  <section class="slider-frame">
    <ul>
      <li>
        <p class="testimonio_font">
          <span>“</span> Marca Táctica es en realidad, un "aliado estratégico" de los Centros
          Comerciales a la hora de entender a sus mercados. Trabajar con ellos es,
          además, una experiencia enriquecedora de construcción conjunta <span>“</span>.
        </p>
        <h3 class="testimonio_autor">Oscar Piccardo</h3>
        <h4 class="testimonio_empresa">Presidente en 1POR1 Marketing Integrado</h4>
      </li>
      <li>
        <p class="testimonio_font">
          <span>“</span> Marca Táctica es un aliado para los centros comerciales Nuestro y sus
          estudios nos han permitido dirigir de mejor manera nuestros planes
          estratégicos <span>“</span>
        </p>
        <h3 class="testimonio_autor">Juan De Los Ríos</h3>
        <h4 class="testimonio_empresa">Gerente Estratégico Nuestro Bogota</h4>
      </li>
      <li>
        <p class="testimonio_font">
          <span>“</span> Marca Tactica es de las empresas de investigación que mejor conoce y entiende la Industria de Centros Comerciales. <span>“</span>
        </p>
        <h3 class="testimonio_autor">Carlos Betancourth</h3>
        <h4 class="testimonio_empresa">Director Ejecutivo de Acecolombia</h4>
      </li>
      <!-- <li><h1>me alegra</h1></li> -->
    </ul>
  </section>
  
  </div>