<section class="knowledge">
    <div class="knowledge__container container">
  
      <div class="knowledge__text">
        <h2 class="subtitle">Centros Comerciales & Retail</h2>
        <p class="about__paragraph">
          <li>Determinamos las probabilidades de éxito para
            desarrollos comerciales futuros, calculamos el
            mercado potencial, las brechas de mercado, los m2 a
            construir y el tenant mix ideal.</li>
          <li>Alertamos a tiempo sobre la inviabilidad de nuevos
            proyectos comerciales.</li>
          <li>Estimamos los m2 adicionales para posibles
            ampliaciones.</li>
          <li>Definimos el ADN de la Marca y le ayudamos a crear
            un camino de Valor Estratégico para el
            reposicionamiento del Centro Comercial.</li>
        </p>
      </div>
      <figure class="knowledge__picture">
        <img src="../../assets/reatails.jpg" alt="" class="knowledge__img">
      </figure>
    </div>
    <div class="knowledge__container container">
      <figure class="knowledge__picture">
        <img src="../../assets/EstudioMercado.jpg" alt="" class="knowledge__img">
      </figure>
      <div class="knowledge__text">
        <h2 class="subtitle">Inteligencia de Mercados</h2>
        <p class="about__paragraph">
          <li>Estructuramos su Investigacion de Mercado y
            conceptualizamos la metodología según su caso.</li>
          <li>Estudios Cuantitativos: Encuestas F2F, Telefónicas,
            Paneles Online, Mediciones de Tráfico, Perfil del Cliente.</li>
          <li>Estudios Cualitativos: Etnografía, Entrevistas en
            Profundidad, Sesiones de Grupo, Mystery shopper.</li>
        </p>
  
      </div>
    </div>
    <div class="knowledge__container container">
  
      <div class="knowledge__text">
        <h2 class="subtitle">Expansión Comercial</h2>
        <p class="about__paragraph">
          <li>Nuestros expertos en SITE SELECTION lo ayudan para
            identificar las zonas geográficas ideales en donde
            podría abrir sus nuevos puntos de venta, y los puntos
            que debe reubicar para no canibalizar a otros.</li>
          <li>Calculamos la demanda potencial de su producto, su
            cuota de mercado y estimamos las ventas
            probables.</li>
        </p>
      </div>
      <figure class="knowledge__picture">
        <img src="../../assets/mapa.png" alt="" class="knowledge__img">
      </figure>
    </div>
    <div class="knowledge__container container">
      <figure class="knowledge__picture">
          <img src="../../assets/MarcaEstrategia.jpg" alt="" class="knowledge__img">
        </figure>
      <div class="knowledge__text">
        <h2 class="subtitle">Marca & Estrategia</h2>
        <p class="about__paragraph">
          <li>Le ayudamos a formular Planes de Mercadeo exitosos,
            segmentamos la data de clientes, estudiamos
            comportamientos de compra y encontramos patrones
            de consumo para que incremente sus ventas.</li>
          <li>Estudiamos y entendemos la Esencia de su Marca desde
            diferentes perspectivas y le guiamos para darle un
            direccionamiento Estratégico & Creativo.</li>
          <li>Desarrollo conceptual de la Marca + Key Visual.</li>
        </p>
      </div>
    </div>
    <div class="knowledge__container container">
  
      <div class="knowledge__text">
        <h2 class="subtitle">Estudios para Proyectos Inmobilarios</h2>
        <p class="about__paragraph">
          <li>Estudios especializados para Constructoras y
            Promotores de Proyectos de Vivienda, Oficinas y
            Hoteles.</li>
          <li>Metodología única en el mercado con la que
            reconocidos promotores toman decisiones
            fundamentales antes de lanzar sus proyectos
            inmobiliarios al mercado.</li>
          <li>Nuestros estudios le ayudan a definir los atributos y las
            características ideales para un proyecto exitoso: precio,
            tamaño, amenities, entre otros.</li>
        </p>
      </div>
      <figure class="knowledge__picture">
        <img src="../../assets/inmobilaria.jpg" alt="" class="knowledge__img">
      </figure>
    </div>
  </section>
  