<div>
    <h1 class="subtitle">Expansión Comercial & Marca</h1>
    <div class="gallery ">
        <img class="Imagen" src="../../assets/Clientes/Qbano.png" alt="">   
        <img class="Imagen" src="../../assets/Clientes/Decorceramicas.png" alt="">
        <img class="Imagen" src="../../assets/Clientes/Gruponutresa.jpg" alt="">
        <img class="Imagen" src="../../assets/Clientes/Angel.jpg" alt="">
        <img class="Imagen" src="../../assets/Clientes/multidrogas.jpg" alt="">
        <img class="Imagen" src="../../assets/Clientes/Olimpica.png" alt="">
        <img class="Imagen" src="../../assets/Clientes/GirosFinanzas.png" alt="">
        <img class="Imagen" src="../../assets/Clientes/Lamontaña.png" alt="">
        <img class="Imagen" src="../../assets/Clientes/Bancoomeva.png" alt="">
        <img class="Imagen" src="../../assets/Clientes/BENMONGA.PNG" alt="">
    </div>
    </div>