<section >
  <div class="knowledge__container">
    <figure class="knowledge__picture">
      <img src="../../assets/Principal.jpg" alt="" class="knowledge__img">
    </figure>
    <div class="knowledge__text">
      <h1 class="subtitle">Nosotros</h1>
      <p class="about__paragraph">Somos expertos en Investigación de Mercado para Centros Comerciales, Retail y
        Complejos de Usos Mixtos. En Marca Táctica trabajamos para todos los centros comerciales, también trabajamos con
        líderes inversionistas, reconocidas constructoras y promotores de proyectos que quieren desarrollar proyectos
        exitosos en mercados cambiantes.
        Nuestra metodología Site Selection ha servido para que importantes cadenas de Retail realicen de manera exitosa
        sus procesos de Expansión Comercial.</p>
    </div>
  </div>
</section>
<section  >
  <app-testimonios/>
</section>
